/* The code below centers the text of all h1's on the page. */
h1 {
   text-align:center;

}
body {
    background-color: rgb(102, 226, 102);
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2000px;
  border: 10px rgb(0, 0, 0) solid;
}

/* Images in the "Some Ways You Can Help" section can use a smaller width. */
.small-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 10px rgb(0, 0, 0) solid;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
    
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 2px black solid;
    margin:5px;
    border-radius: 10px;
}

.columns {
    display:flex;
    justify-content:space-between;
}

.column-style {
    border: 2px black solid;
    margin:5px;
    border-radius: 10px;
    width: 30%;
    text-align:center;
    color: rgb(231, 30, 187);
}
a {
    color: rgb(244, 26, 135);
}